html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*end reset css*/
:root {
    --main-bg-color: #0E0B00;
    --main-cn-color: #1F1700;
    --main-tl-color: #D2A203;
    --main-tx-color: #926D00;
    --secondary-tx-color: #5F4800;
}

* {
    color: var(--main-tx-color);
}

#background {
    background-color: #0A0A0A;
    background-image: url(../img/xela.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: -1000;
    width: 100%;
    height: 100%;
    justify-content: center;
}

.container {
    display: flex;
    /* border-radius: 2em; */
    /* align-items: center; */
    /* overflow-x: hidden; */
    /* height: max-content; */
    /* margin: auto; */
    /* justify-content: center; */
    /* align-content: center; */
    /* flex-direction: row; */
    top: 25%;
    position: absolute;
    bottom: 25%;
    /* background-color: #1f1700; */
    background: rgba(31, 23, 0, 0.33);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(31, 23, 0, 0.3);
}

#display {
    height: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    animation: entrada 3s;
    flex-direction: row;
}
/**
body {
    display: flex;
    justify-content: center;
}*/

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    bottom: 1em;
}

h1 {
    color: var(--main-tl-color);
    font-weight: bold;
}

hr {
    width: 100%;
}

h1 img {
    width: 1em;
    height: 1em;
    float: right;
}

* {
    font-family: 'Roboto Mono', monospace !important;
}

#information {
    /**background-color: var(--main-cn-color);**/
    flex-direction: column;
    border-radius: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    font-weight: normal;
    text-align: justify;
    line-height: 1.2rem;
    padding-right: 1em;
    display: flex;
    justify-content: center;
}

#name {
    font-weight: 900;
    font-size: 2em;
    display: flex;
    align-items: center;
    line-height: 1;
    white-space: pre-line;
}

#technologies img {
    padding-left: 0.5em;
    padding-right: 0.5em;
    width: 30px;
}

span,
h1 {
    padding: 1em;

}

#skill-box {
    flex-direction: row;
    animation: entrada 2s;
}


#canvas {
    animation: girar 2s;
}

@keyframes entrando {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes entrada {
    from {
        transform: translateX(100%);
    }

    to {
        transform: 0;
    }
}

@media screen and (max-width: 800px) {
    #skill-box {
        flex-direction: column;
    }

    #information {
        width: 80%;
        padding-bottom: 1em;
        padding-right: 0;
    }

    #technologies img {
        padding-left: 0.2em;
        padding-right: 0.2em;
        width: 30px;
    }

    .container{
        top: inherit;
        bottom: inherit;
        position: fixed;
        z-index: -80;
        width: 100%;
        height: 100%;
        border-radius: 0;
        align-items: center;
    }

    #display{
        height: fit-content;
        animation: none;
        flex-direction: column;
        justify-content: center;
        /**overflow: auto;**/
    }

    /**
    @keyframes entrada {
        from {
            transform: translateY(100%);
        }

        to {
            transform: 0;
        }
    }**/
}

@keyframes girar {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(0deg);
    }
}

#technologies {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

p {
    padding: 1em;
}

canvas{
    background-image: url(../img/profile.jpg);
    border-radius: 50%;
    background-size: cover;
}

#technologies img:hover{
    transform: scale(1.5);
    cursor: pointer;
}

.hovertext {
    position: relative;
    /* border-bottom: 1px dotted black; */
  }
  
  .hovertext:before {
    content: attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: min-content;
    background-color: var(--main-cn-color);
    color: var(--main-tl-color);
    text-align: center;
    border-radius: 5px;
    padding-left: 1em;
    padding-right: 1em;
    transition: opacity 1s ease-in-out;
  
    position: absolute;
    z-index: 1;
    left: 0;
    top: 110%;
  }
  
  .hovertext:hover:before {
    opacity: 1;
    visibility: visible;
  }

  #technologies span{
    padding: 0.5em;
  }